<% content_for :head do %>
    <%#= stylesheet_link_tag 'galleria' %>
    <%= include_gon %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{google_maps_key}&v=3.exp&libraries=geometry" %>
    <%= javascript_include_tag 'maps' %>
    <%= stylesheet_link_tag 'maps' %>
<% end %>

<% content_for :album_title do %>
    <%= album.title %>
<% end %>

<% content_for :album_description do %>
    <%= album.description %>
<% end %>

<div class="container-fluid" xmlns="http://www.w3.org/1999/html"
xmlns="http://www.w3.org/1999/html">
  <div class="row text-center" id="progressbarparent">
    <br/>
    <div class="col-md-4 col-md-offset-4 well">
      <div id="progressbar"></div>
      <br/>
      <span id="progressbartext">Calculating clusters from image GPS coordinates...</span>
    </div>
  </div>
  <% if geotaggedfiles.length > 0 %>
      <div class="row">
        <div class="col-md-6 well-sm">
          <h3>Map for <%= album.title %> Images</h3>
        </div>
        <div class="col-md-6 well-sm">
          <p id="mymappageheading">
            Total geocoded images found: <%= geotaggedfiles.length %>,
            Zoom level: <span id="zoomlevel"></span>,
            Cluster Radius: <span id="clusterradius"></span> miles<br/>
            Click on tag to show images
          </p>
        </div>
      </div>
      <div class="row">
        <div id="map-canvas-parent" class="row" align="center">
          <!--Actual Google Map goes here-->
          <div id="map_pane" class="col-md-8" style="border: 1px solid gray; color: black; height: 600px; background-color: rgb(229, 227, 223);">
            <div id="map-canvas" style="width: 100%; height: 100%;"></div>
          </div>
          <div class="col-md-4" style="height: 600px" >
            <div align="center" width=100% height=28px; style="white-space: nowrap; font-size: small; padding-top: 5px; padding-bottom: 5px; border: 1px solid black;">
              Click on thumbnail or image title to locate on map
            </div>
            <div id="filelistonright" style="border: 1px solid black; height: 570px; overflow: scroll;">
              <table width=100% style="border-collapse: collapse">
                <tr>
                  <!-- Begin looping through the GPS tagged image files-->
                  <% geotaggedfiles.each do |onefile, onefileinfo| %>
                      <% tempthumbfile = File.join(thumb_photo_path, onefile) %>
                      <% tempsmallfile = File.join(small_photo_path, onefile) %>
                      <td onmouseover="demagnifypic()" style="border: 2px solid white; background-color: #9D9248">
                        <div align="center">
                          <img src="<%= tempthumbfile %>"
                          onclick="bouncemarker('<%= onefile %>')"
                          style="max-width: 96px; max-height: 96px;"
                          alt="No Thumbnail"
                          onmouseover="magnifypic('<%= tempsmallfile %>', this, event)"
                          onmouseout="demagnifypic()"/>
                        </div>
                      </td>
                      <td class="list_value_wrap" onmouseover="demagnifypic()" style="border:2px solid white; background-color: #9D9248">
                        <!-- Show file details-->
                        <div class="tableCell1" align="left">
                          <a class="auto-style6" onclick="bouncemarker('<%= onefile %>')">
                            <%= onefileinfo[:description] %>
                          </a>
                          <br>
                          File Name: <%= onefileinfo[:filename] %>
                          <br>
                          File Type: <%= onefileinfo[:filetype] %>
                          <br>
                          Latitude: <%= nice_latitude(onefileinfo) %>
                          <br>
                          Latitude: <%= nice_longitude(onefileinfo) %>
                          <br>
                        </div>
                      </td>
                      </tr>
                      <tr>
                  <% end %>
                  </tr>

                  </table>
            </div>
            <br>
          </div>
        </div>
      </div>
  <% else %>
      <div align="center" style="color: black">
        <p>Sorry, there are no geotagged images in this folder</p>
      </div>
  <% end %>
</div>
</div>
