<% content_for :head do %>
    <%= include_gon %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{google_maps_key}&v=3.exp&libraries=geometry" %>
    <%= javascript_include_tag 'maps' %>
    <%= stylesheet_link_tag 'maps' %>
<% end %>

<% content_for :album_link do %>
    <%= link_to "#{gallery_or_album}: #{album.title}",
                album_gallery_path(album.id),
                :'data-toggle' => "tooltip",
                title:         album.description
    %>
<% end %>

<% content_for :top_menu_item do %>
  <li>
    <%= link_to "Downloads", downloads_path(album) %>
  </li>
<% end %>

<% content_for :album_description do %>
    <%= album.description %>
<% end %>

<div class="row text-center" id="progressbarparent">
  <div class="col-md-4 col-md-offset-4 well">
    <div id="progressbar"></div>
    <div id="progressbartext">Calculating clusters from image GPS coordinates...</div>
  </div>
</div>

<div id="map-and-list" class="set-background" style="visibility: hidden;">
  <% if geotaggedfiles.length > 0 %>
      <div class="row set-background">
        <div class="col-md-12 text-center visible-lg">
          <div class="row">
            <div class="col-md-12">
              <h3>Map for <%= album.title %> Album</h3>
              <h6 id="mymappageheading">
                Total geocoded images found: <%= geotaggedfiles.length %>,
                Zoom level: <span id="zoomlevel"></span>,
                Cluster Radius: <span id="clusterradius"></span> miles<br/>
                Click on tag to show images
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row set-background">
        <div class="col-xs-12">
          <div id="map-canvas-parent" class="row top-border">
            <!--Actual Google Map goes here-->
            <div id="map-pane" class="col-xs-6 col-sm-9 col-lg-8 table-bordered column-modified">
              <div id="map-canvas" style="height: 492px;"></div>
            </div>
            <div id="photo-pane" class="col-xs-6 col-sm-3 col-lg-4 column-modified table-bordered">
              <div id="filelistonrighthead" class="row visible-lg">
                <div class="col-xs-12">
                  Click on thumbnail/image title to locate on map
                </div>
              </div>
              <div id="filelistonright" class="row" style="height: 470px; overflow-y: scroll; overflow-x: hidden">
                <div class="col-xs-12">
                  <!-- Begin looping through the GPS tagged image files-->
                  <% geotaggedfiles.each do |onefile, onefileinfo| %>
                      <div class="row table-bordered">
                        <div class="col-xs-12 col-lg-4 text-center" onmouseover="demagnifypic()">
                          <img src="<%= onefileinfo[:thumb_photo_url] %>"
                          onclick="bouncemarker('<%= onefile %>')"
                          style="max-width: 96px; max-height: 96px;"
                          alt="No Thumbnail"
                          onmouseover="magnifypic('<%= onefileinfo[:small_photo_url] %>', event)"
                          onmouseout="demagnifypic()"/>
                        </div>
                        <div class="col-lg-8 visible-lg" style="font-size: small;" onmouseover="demagnifypic()">
                          <div class="row">
                            <div class="col-xs-12">
                              <a onclick="bouncemarker('<%= onefile %>')">
                                <%= onefileinfo[:caption] %>
                              </a>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <span>File Name: <%= onefileinfo[:filename] %></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <span>Latitude: <%= nice_latitude(onefileinfo) %></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <span>Longitude: <%= nice_longitude(onefileinfo) %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% else %>
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Sorry, there are no geotagged images in this album</h3>
        </div>
      </div>
  <% end %>
</div>
