<div class="container-fluid">
  <div class="row row-centered">
    <div class="col-lg-3 col-lg-offset-4">
      <div class="form-group">
        <%= form_for(user) do |f| %>
            <% if user.errors.any? %>
                <div class="alert alert-danger pulsate">
                  <a class="close" data-dismiss="alert">×</a>
                  <%= pluralize(user.errors.count, "error") %>
                  prohibited this user from being saved:
                  <ul>
                    <% user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <fieldset class="form-group">
              <%= f.label :user_name %>
              <%= f.text_field :user_name, class: "form-control" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label :real_name %>
              <%= f.text_field :real_name, class: "form-control" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control" %>
            </fieldset>

            <%= f.button do %>
                <%= content_tag :div, submit_label, class: "btn btn-primary btn-sm" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
