<% content_for :head do %>
    <%= stylesheet_link_tag '/galleria/themes/azur/galleria.azur.css' %>
    <%= stylesheet_link_tag 'galleria' %>
    <%= javascript_include_tag 'galleria' %>
    <%= javascript_include_tag '/galleria/galleria-1.4.2.min.js' %>
    <%= include_gon %>
<% end %>

<% content_for :album_link do %>
    <%= link_to "Album: #{album.title}",
                album_thumbs_path,
                :'data-toggle' => "tooltip",
                title:         album.description
    %>
<% end %>

<% content_for :top_menu_item do %>
    <li>
      <%= link_to "Map", map_path(collection_name, album.name) %>
    </li>
    <li>
      <%= link_to "Downloads", downloads_path(collection_name, album.name) %>
    </li>
<% end %>

<div class="container">
  <div class="row">
    <div class="galleria-surround">
      <div class="galleria">
        <% photos.each do |photo| %>
            <img src='/<%= photo.app_path %>' data-title="<strong><%= photo.title %></strong>" data-description="<%= photo.description %>">
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  adjustGallerySize();
  Galleria.loadTheme("/galleria/themes/azur/galleria.azur.min.js");
  Galleria.run('.galleria', {
    imageTimeout: 960000,
    show: gon.starting_image_index,
    debug: true,
    imageCrop: 'height',
    dummy: '<%= image_path("silhouette_unknown.png") %>',
    lightbox: true,
    fullscreenDoubleTap: true,
    thumbnails: false,
    extend: function () {
      this.setPlaytime(3000);
      this.attachKeyboard({
        left: this.prev,
        right: this.next
      });
    }
  });
  $(window).resize(function () {
    adjustGallerySize()
  })
</script>
