<%= stylesheet_link_tag 'downloads' %>

<% content_for :album_link do %>
  <%= link_to "Gallery: #{album.title}",
              album_gallery_path(album.id),
              :'data-toggle' => "tooltip",
              title:         album.description
  %>
<% end %>

<% content_for :top_menu_item do %>
  <li>
    <%= link_to "Map", map_path(album.id) %>
  </li>
  <li>
    <%= link_to "Downloads", downloads_path(album.id) %>
  </li>
<% end %>

<div class="row-centered">
  <% photos.each do |photo| %>
    <div class="thumbnail col-centered">
      <%= link_to album_gallery_path(album, start: photo.order_index - 1) do %>
        <img src="<%= photo.image_url(:thumb) %>">
      <% end %>
    </div>
  <% end %>
</div>


