<% content_for :head do %>
    <%= stylesheet_link_tag 'galleria' %>
    <%= javascript_include_tag 'galleria' %>
    <style>
      .galleria {
        width: 1000px;
        height: 700px;
        background: #000
      }
    </style>
<% end %>

<div class="galleria">
  <% photos.each do |photo| %>
      <img src='/<%= photo.app_path %>' data-title="<strong><%= photo.title %></strong>" data-description="<%= photo.description %>">
  <% end %>
</div>

<script>
  Galleria.loadTheme('<%= javascript_path "galleria/themes/azur/galleria.azur.min" %>');
  Galleria.run('.galleria', {
    imageTimeout: 960000,
    debug: false,
    imageCrop: 'height',
    dummy: '<%= image_path("silhouette_unknown.png") %>',
    lightbox: true,
    fullscreenDoubleTap: false,
    thumbnails: 'lazy',
    extend: function () {
      this.lazyLoadChunks(10);
      this.setPlaytime(3000);
      this.attachKeyboard({
        left: this.prev,
        right: this.next
      });
    }
  });
</script>
