<!DOCTYPE html>
<html>
<head>
  <title>Bashkoff Family Website</title>
  <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>">
  <link rel="manifest" href="<%= google_manifest_path %>">
  <%= stylesheet_link_tag 'no_auth' %>
  <%= javascript_include_tag 'no_auth' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="sub-container">
    <div class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="navbar-header">
        <%= render partial: "brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <%= render partial: 'flash' %>
    <%= yield %>
  </div>
</div>
</body>
</html>
