<!DOCTYPE html>
<html>
<head>
  <title>Bashkoff Family Website</title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-custom" role="navigation">
  <div class="navbar-header">
    <%= image_tag "img3.jpg", style: "height: 50px;" %>
  </div>
  <div class="navbar-header">
    <%= link_to collections_path, class: "navbar-brand" do %>
      <strong>Bashkoff Family Website</strong>
    <% end %>
  </div>
  <div class="collapse navbar-collapse pull-right">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
<%= render partial: 'flash' %>
<%= yield %>
</body>
</html>
